@media (max-width: 750px) {
    #offcanvas {
        display: block
    }
    #navbar .menu {
        display: none
    }
    /* Offcanvas */
    .offcanvas-menu > * {
        display: none;
    }
    .offcanvas-menu > .offcanvas-hamburger {
        display: block;
        padding: 20px 0;
    }
    .ss-slideshow .ss-browse .nav-text {
        display: none !important;
    }
    #offcanvas ul ul {
        display: none;
    }
    #offcanvas ul li.opened > ul {
        display: block;
    }
    #navbar {
        text-align: right;
    }
    #logo img {
        height: 85px;
    }
    .hero .slide .caption h2 {
        font-size: 25px;
    }
    .hero .slide .caption h4 {
        line-height: 1.3;
        font-size: 16px;
        margin-bottom: 10px;
    }
    .hero .slideshow {
        height: 370px;
    }
    .description .quick-search {
        width: 100%;
    }
    .description .text {
        width: 100%;
        margin-top: 30px;
    }
    h3 {
        font-size: 26px;
        line-height: 1.3;
        padding: 0;
    }
    .features li {
        width: 100%;
        margin-bottom: 20px;
    }
    footer .item {
        width: 100%;
        margin-bottom: 30px;
    }
    .footer-grid {
        padding: 20px 0;
    }
    .features ul {
        padding: 20px 0;
    }
    .description {
        padding: 20px 0;
    }
    .owl-carousel .owl-item {
        width: 100% !important;
    }
    .owl-carousel .owl-stage {
        width: 100% !important;
    }
    .blog-preview {
        padding: 20px 0;
    }
    .details #slideshow .slide {
        width: 100% !important;
    }
    .cycle-carousel-wrap {
        width: 100%;
    }
    .details #slideshow {
        overflow: hidden;
        height: 200px;
    }
    .details-slide .container {
        padding-left: 30px;
        padding-right: 30px;
    }
    .details-features h4 {
        font-size: 19px;
    }
    .similar-spa .similar-spa-item {
        width: 50%;
    }
    .details .similar-spa {
        margin-top: 20px;
    }
    .details .browse {
        font-size: 30px;
        margin-top: -15px;
        padding: 0 9px;
    }
    .content-wrapper .container > .row > .item {
        width: 100% !important;
        margin-bottom: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .accordion .head span {
        font-size: 14px;
    }
    .content-wrapper .container > .row {
        margin-left: -15px;
        margin-right: -15px;
    }
    .details #main-content:after {
        display: none
    }
    .content-wrapper {
        padding-bottom: 0;

    }
    #main-content .result-item {
        width: 100%;
        
    }
}
